{{define "title"}}Dashboard{{end}}

{{define "main"}}
<main>
    <h1>Dashboard</h1>

    <a href="/auth/reset">Change password</a>
    
    <table>
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{.Data.Username}}</td>
            </tr>
        </tbody>
    </table>
</main>
{{end}}

{{define "scripts"}}{{end}}